* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
}

html, body {
  overflow: hidden;
}

.hide {
  display: none;
}

.car {
  width: 50px;
  height: 50px;
  background: transparent url('image/my_player.png') center / cover no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.enemy {
  width: 50px;
  height: 50px;
  background: transparent url('image/my_enemy.png') center / contain no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: #222;
}

.line {
  position: absolute;
  width: 10px;
  height: 50px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.start {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  z-index: 200;
  color: #fff;
  font-size: 1.5rem;
  background: black;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 700;
}

.scoreContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  z-index: 200;
  color: skyblue;
  background-color: black;
  font-family: sans-serif;
  font-weight: 500;
}

.scoreContainer div {
  display: inline;
  font-size: 0.8rem;
}

.scoreContainer p {
  z-index: 300;
}

.audio {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.levelSelect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  z-index: 200;
  color: #fff;
  background: black;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 700;
}

.level {
  display: inline-block;
  margin: 0 20px;
  padding: 20px 0;
}